* {
    margin: 0;
    padding: 0;
}

.contenedor .box {
    border: solid 1px black;
}

.contenedor .titulo {
    padding: 10px;
    text-align: center;
    font-size:xx-large;
}

.foto {
    grid-area: foto;
}

.contenedor .foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 80px;
    background-color: black;
}

.nombre {
    grid-area: nombre;
}

.contenedor .nombre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    grid-area: info;
}

.contenedor .info {
    background-color: black;
    color: white;
}

.contenedor .info .info-desc p {
    padding: 10px;
}

.contenedor .info .info-desc li{
    padding: 2px;
}

.contenedor .info .info-desc ul {
    padding-left: 30px;
}

.contenedor .info .info-obj {
    padding: 10px;
}

.contenedor .info .info-contacto {
    padding: 30px;
}

.contenedor .info .info-contacto li, a, i {
    padding: 5px;
    text-decoration: none;
    color: white;
}

.contenedor .info .info-software ul {
    padding: 30px;
}

.contenedor .info .info-software li {
    padding: 3px;
}

.contenedor .info .hab{
    padding: 10px;
}

.educ {
    grid-area: educ;
}

.portafolio {
    grid-area: port;
}

.pie {
    grid-area: pie;
}

.contenedor {
    display: grid;
    gap: 10px;
    grid-template-columns: 30% 1fr;
    grid-template-areas:
        "foto nombre"
        "info educ"
        "port port"
        "pie pie"
}